version=0.16.0
module-item-spacing=compact
break-struct=natural
break-infix=fit-or-vertical
break-sequences=false
wrap-comments=false
break-collection-expressions=wrap
break-separators=before
dock-collection-brackets=true
exp-grouping=preserve
parens-tuple=multi-line-only
space-around-lists=false
space-around-records=false
space-around-arrays=false
break-cases=fit
break-fun-decl=smart
cases-exp-indent=2
sequence-style=before
if-then-else=compact
field-space=tight
indent-after-in=0
break-before-in=auto
