language: c
install:
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-opam.sh
  - wget https://raw.githubusercontent.com/ocaml/ocaml-travisci-skeleton/master/.travis-docgen.sh
script: bash -ex .travis-opam.sh && bash -ex .travis-docgen.sh
sudo: true
env:
  matrix:
  - PACKAGE="decompress" OCAML_VERSION=4.02 TESTS=true
  global:
    secure: FJKlRhKHrethvekm0IrxH7n6vefh6i0DtVb8Ke6TXgGje59M7qbMIDqP+a6z8sWPm1T3GgEHrR20ykVP+utRzrs2SuAn92xGnRHMpq3kh0z5E6yJUGNiLQF08174bRVNWpV8iUE7bc7q/RCreK5sgDxZ8UQxZRsaIE4SLzAPIOE=
